<div class="login">
  <div class="login-body">
    <a class="login-brand" href="#">
      <img class="img-responsive" src="assets/img/logo-blk.png" alt="logo">
    </a>
    <div class="login-form">
      <form data-toggle="validator">
        <div class="form-group">
          <label for="email">Enter Email</label>
          <input id="email" class="form-control" type="email" name="email" spellcheck="false" autocomplete="off"
            data-msg-required="Please enter your email address." required>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Send link</button>
      </form>
    </div>
  </div>

</div>